<h1>About This Project</h1>
<p>This project pulls data from the Dog CEO API to display information about different dog breeds.</p>

<h2>Data Sources</h2>
<ul>
  <li>Dog Breeds API: <a href="https://dog.ceo/dog-api/documentation/">Dog CEO API</a></li>
  <li>Random Dog Image API: <a href="https://dog.ceo/dog-api/documentation/random">Random Dog Image API</a></li>
</ul>

<h2>ERD Diagram</h2>
<p>[Insert description or an image of your ERD here]</p>