<h1>All Dog Breeds</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sub Breed</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <% @breeds.each do |breed| %>
      <tr>
        <td><%= breed.name %></td>
        <td><%= breed.sub_breed %></td>
        <td><%= link_to 'View Details', breed_path(breed) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>