<h3>Breed Name: <%= @breed.name %></h3>
<h3>Size: <%= @breed.size %></h3>

<table class="table">
  <thead>
    <tr>
      <th>Image URL</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Breeds', breeds_path %>
