<h1>Images for <%= @breed.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Image URL</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Breeds', breeds_path %>
